@page
@model WestwindWebApp.Pages.ProjectSelectionModel
@{
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var currentStudent in Model.Students) 
        {
            <tr>
                <td>@currentStudent.Id</td>
                <td>@currentStudent.FullName</td>
            </tr>
        }
    </tbody>
</table>